@model Gamezy.ViewModels.IndexPlayerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Some lazy temp Styling *@
<style type="text/css">
     td, th {
         padding:0 15px 0 15px;
     }
</style>

<h2>Players</h2>

<!-- Display player data. -->
@if (Model.Players.Count <= 0)
{
    <p>There are no players yet.</p>
}

// If we're only listing one element (usually the result of a query):
else if (Model.Players.Count == 1)
{
    <h3>@Model.Players[0].Name</h3>
    <br />
    <h4>Description</h4>
    if (@Model.Players[0].Description != null)
    {
        <p>
            @Model.Players[0].Description
        </p>
    }
    <br />
    if (Model.Players[0].NewsletterSubscription)
    {
        <p>
            The user is subscribed to the newsletter.
        </p>
        }
        else
        {
        <p>
            The user is not subscribed to the newsletter.
        </p>
        }
}

// Default: Print all players w/ generated links. // TODO Partial View?
else
{
    <table>
        <tr>
            <th>Player Name</th>
            <th>Membership Tier</th>
            <th>Discount Rate</th>
        </tr>
        @{
            foreach (var p in Model.Players)
            {
                <tr>
                    <td>
                        @Html.ActionLink(p.Name, 
                        "Details",   // <-- ActionMethod
                        "Players",  // <-- Controller Name.
                        new { p.Id }, // <-- Route arguments.
                        null  // <-- htmlArguments .. which are none. Required.
                        )
                    </td>
                    <td>
                        @p.Membership.Tier
                    </td>
                    <td>
                        @p.Membership.DiscountRate%
                    </td>
                    <td>
                        <a href="./Players/Edit/@p.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </table>
}